.menuWrapper{
    display: none!important;
    z-index: 50;
    background-color: #2e991f;
    border-radius: 50%;
}

.MuiIconButton-label-9{
    color: white;
}

@media (min-width: 320px) and (max-width: 767px){
    .menuWrapper{
        display: inline!important;
        position: fixed;
        top: 90%;
        left: 85%;
    }
}