/* colorPalete{
    #e27d60
    #85DCB
    #E8A87C
    #c38D9E
    #41B3A3
} */

.splashImg {
	margin-top: 2%;
	/* height: 280px; */
	width: 100%;
	height: 80%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	/* z-index: ; */
}

.titleName {
	position: absolute;
	width: 100%;
	top: 20%;
	font-size: 60px;
	/* z-index: -1; */
	color: white;
	text-shadow: 1px 0 black, 0 1px black, 1px 0 black;
	/* font-family: "Mate SC", serif; */
}

.body {
	background-color: white;
	/* border: 2px solid black; */
	position: absolute;
	top: 50%;
	width: 100%;
	height: 100% !important;
	/* min-height: 110%!important; */
	z-index: -0;
}

.aboutBody {
	text-align: left;
	margin-left: 15%;
	width: 80%;
	margin-right: 15%;
	z-index: -1;
	/* font-family: "Mate SC", serif; */
}

.docBody {
	text-align: right;
	margin-right: 15%;
	width: 80%;
	margin-left: 15%;
	z-index: -1;
	/* font-family: "Mate SC", serif; */
}

hr {
	background-color: #006400;
	height: 1px;
	border: none;
	z-index: -1;
}

.footer {
	z-index: 51;
	color: black;
	bottom: 0 !important;
}

@media (min-width: 320px) and (max-width: 767px) {
	.splashImg {
		margin-top: 0%;
	}

	.titleName {
		top: 13%;
	}
}
