@import url("https://fonts.googleapis.com/css?family=Lato:400,900&display=swap");

.splashDiv {
	background-image: url("../../assets/images/larryimg.jpg");
	height: 75vh;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	/* z-index: 55; */
}

h1 {
	font-family: "Lato", sans-serif;
}

.titleName {
	position: absolute;
	width: 100%!important;
	top: 20%;
	font-size: 8vw;
}

.testname {
	font-weight: 900;
	border-radius: 2px;
	padding: 5px 20px;
	color: rgb(0, 0, 0);
	mix-blend-mode: lighten;
	background-color: #f2f8f5;
}

.container {
	background-color: #f0efef31;
	background-size: cover;
	width: 100%;
	min-height: 100%;
	top: auto!important;
	padding-top: 10px;
}
.container p {
	line-height: 1.6rem;
	font-size: 1.1rem;
}

.aboutBody {
	text-align: left;
	width: 75%;
	margin: auto;
	z-index: -1;
	/* font-family: "Mate SC", serif; */
}

.docBody {
	text-align: right;
	/* margin-right: 15%;
	margin-left: 15%; */
	width: 75%;
	margin: auto;
	z-index: -1;
	height: 100%;
	/* font-family: "Mate SC", serif; */
}

.doc {
	text-align: right;
	width: 75%;
	margin: auto;
	z-index: -1;
	height: 100%;
}

hr {
	background-color: #006400;
	height: 1px;
	border: none;
}

.howToDiv{
	text-align: center;
}

.exampleDiv{
	word-wrap: break-word;
}


.goodExample{
	width: 30%;
	margin-left: 5%;
	margin-right: 5%;
	vertical-align: middle;
	box-shadow: 2px 2px 5px;
}

.badExample{
	width: 35%;
	margin-left: 5%;
	margin-right: 5%;
	vertical-align: middle;
	box-shadow: 2px 2px 5px;
}


@media (min-width: 320px) and (max-width: 767px) {
	.splashDiv {
		height: 50vh;
	}

	.titleName {
		top: 13%;
	}

	.container {
		top: auto !important;
	}
}
