@import url("https://fonts.googleapis.com/css?family=Lato:400,900&display=swap");

.splashDiv {
	background-image: url("../../assets/images/larryimg.jpg");
	height: 75vh;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	/* z-index: 55; */
}

h1 {
	font-family: "Lato", sans-serif;
}

.titleName {
	position: absolute;
	/* margin: 0 auto; */
	width: 100% !important;
	top: 20%;
	/* font-size: 85px; */
	font-size: 8vw;
	/* z-index: -1; */
}
.testname {
	font-weight: 900;
	/* border: 5px double #020202; */
	border-radius: 2px;
	padding: 5px 20px;
	color: rgb(0, 0, 0);
	mix-blend-mode: lighten;
	background-color: #f2f8f5;
}

.container {
	background-color: #f0efef;
	background-size: cover;
	/* position: fixed; */
	width: 100%;
	min-height: 100%;
	z-index: -0;
	/* top: 70%!important; */
	top: auto !important;
	/* padding-bottom: 300%!important; */
}
.container p {
	line-height: 1.6rem;
	font-size: 1.1rem;
}

.aboutBody {
	text-align: left;
	width: 75%;
	margin: auto;
	z-index: -1;
	/* font-family: "Mate SC", serif; */
}

.docBody {
	text-align: right;
	/* margin-right: 15%;
	margin-left: 15%; */
	width: 75%;
	margin: auto;
	z-index: -1;
	height: 100%;
	/* font-family: "Mate SC", serif; */
}

.doc {
	text-align: right;
	/* margin-right: 15%;
	margin-left: 15%; */
	width: 75%;
	margin: auto;
	z-index: -1;
	height: 100%;
}

hr {
	background-color: #006400;
	height: 1px;
	border: none;
	z-index: -1;
}

.footer {
	z-index: 51;
	color: black;
	bottom: 0 !important;
}

@media (min-width: 320px) and (max-width: 767px) {
	.splashDiv {
		height: 50vh;
	}

	.titleName {
		top: 13%;
	}

	.container {
		top: auto !important;
	}
}
