.calendarBody{
    background-image: url("../../assets/images/aloe.jpg");
    background-size: cover;
    padding-bottom: 5%;
}

.react-calendar{
    margin-top: 10%;
    margin-left: 10%;
    width: 80%;
    margin-bottom: 5%;
    /* height: 700px; */
    font-size: 20px;
    box-shadow: 2px 2px 5px;
    border: none;
}


.react-calendar__navigation{
    /* background-color: #C0C0C0; */
    /* background-color: rgba(18, 153, 6, 0.74); */
    background-image: url("../../assets/images/ivy.jpg");
    background-size: 100%, 60%;
    background-position: center;
    background-repeat: no-repeat;
    /* font-size: 30px; */
    height: 50px;
}

.react-calendar__month-view__days{
    /* background-image: url("../../assets/images/banner-lush.jpg"); */
    background-color: whitesmoke;
}

.react-calendar__navigation__label{
    font-size: 25px;
    /* text-shadow: 1px 1px black; */
    font-weight: bold;
    pointer-events: none;  
    color: black;
}

.react-calendar__month-view__days__day--weekend{
    /* background-color: rgba(39, 170, 202, 0.11); */
    background-color: rgba(39, 202, 39, 0.11);

}

.react-calendar__tile{
    border: .05px solid gray!important;
    /* text-align: center; */
    pointer-events: none;  
    padding-bottom: 5%;
    /* text-align: justify; */
    /* word-break: break-all;
    white-space: pre; */
    display: block;
    min-width: 14%;
}

.react-calendar__tile--active{
    /* background-color: #DCDCDC; */
    background-color: rgba(13, 146, 1, 0.651);

}

.imageDiv{
    /* margin-top: 50%; */
}

.waterIcon{
    background-color: #41B3A3;
    border: 2px solid black;
    border-radius: 50%;
    margin-right: 3px;
    margin-left: 2px;
    height: 20px;
    /* width: 20px;
    max-height: 5vh;
    max-width: 5vh; */
}

.seedIcon{
    border: 2px solid black;
    border-radius: 50%;
    height: 20px!important;
    margin-right: 3px;
    margin-left: 2px;
    height: 23px;
    /* width: 20px; */
    background-color: greenyellow;
}

abbr{
    /* line-height: 50px; */
    /* vertical-align: middle; */
    /* border-bottom: 1px solid black; */
    /* border-bottom: none; */
    font-size: 16px;
    font-weight: bold;
}

abbr[title] {
    border-bottom: none!important;
    cursor: inherit !important;
    text-decoration: none !important;
}
