.main-title {
	font-size: 87px;
	font-weight: bolder;
	color: #397547;
	margin-top: 80px;
	text-shadow: -1px 2px 2px #5e5d58;
}
.card-wrap {
	background: #fff;
	height: 288px;
	width: 200px;
	position: relative;
	box-shadow: 0 3px 6px #999, 0 3px 6px #999;
	text-align: left;
	margin: 0.5em;
	margin-top: 0.5em;
	padding-top: 20px;
	border-radius: 20px;
}

.card-wrapBig {
	background: #fff;
	height: 600px;
	width: 400px;
	position: relative;
	box-shadow: 0 3px 6px #999, 0 3px 6px #999;
	text-align: center;
	margin: 0.5em;
	margin-top: 0.5em;
	padding-top: 20px;
	border-radius: 20px;
}
.plantInfo {
	text-decoration: none;
}

.plantInfo :hover {
	color: darkgreen;
}

.card-wrap:hover {
	cursor: pointer;
}

.img-container {
	height: 140px;
	width: 140px;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0 3px 6px #999, 0 3px 6px #999;
	object-fit: cover;
	overflow: hidden;
	text-align: center;
	background: #6caddc;
}


.img-container > img {
	width: 60%;
}

.thumb {
	background-size: contain;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
}

.water {
	position: absolute;
	bottom: 0;
	margin-left: 37%;
	margin-bottom: 2%;
	height: 50px;
}
.wateringCan {
	width: 40px;
	height: 40px;
}

.wateringCan:hover {
	transform: scale(1.3, 1.3);
}

.tile-content {
	padding: 5px;
}

.nickname {
	font-size: large;
	color: #397547;
	font-weight: bolder;
	text-align: center;
}
