.main-title {
	font-size: 87px;
	font-weight: bolder;
	color: #397547;
	margin-top: 80px;
	text-shadow: -1px 2px 2px #5e5d58;
}
.card-wrap {
	background: #fff;
	height: 288px;
	width: 150px;
	/* border:2px solid black; */
	position: relative;
	box-shadow: 0 3px 6px #999, 0 3px 6px #999;
	text-align: left;
	margin: 0.5em;
	margin-top: 0.5em;
}

.plantInfo {
	text-decoration: none;
}

.plantInfo :hover {
	color: darkgreen;
}

.card-wrap:hover {
	cursor: pointer;
}

.card-wrap > .img-container {
	height: 150px;
	width: 150px;
	object-fit: cover;
	overflow: hidden;
	text-align: center;
	background: #6caddc;
}

.card-wrap > .img-container > img {
	width: 60%;
}

.thumb {
	background-size: contain;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
}

.water {
	position: absolute;
	bottom: 0;
	margin-left: 30%;
	margin-bottom: 2%;
	height: 45px;
}	
.wateringCan {
	width: 40px;
	height: 40px;

}

.tile-content {
	padding: 5px;
}

.nickname {
	font-size: large;
	color: #397547;
	font-weight: bolder;
	text-align: center;
}