

.main-title {
    font-size: 87px;
    font-weight: bolder;
    color: white;
    margin-top: 5%;
    margin-bottom:2%;
}
.card-wrap {
    background: #fff;
    height:288px;
    width:150px;
    /* border:2px solid black; */
    position: relative;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    text-align: left;
    margin: .5em;
    margin-top:.5em;

    
  }

  .card-wrap:hover{
    cursor: pointer;
  }

.card-wrap > .img-container {
    
    height:150px;
    width:150px;
    object-fit:cover;
    overflow: hidden;
    text-align: center;
    background:#6CADDC;
    
  }



  .card-wrap > .img-container > img {
    width: 60%;
    
  }


  
  .thumb {    
    background-size: contain;    
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
  }

  .wateringCan {
    width: 40px;
    height: 40px;
    margin-left:30%;
  }

.tile-content {
    padding:5px;
}

.nickname {
  font-size: large;
  color:darkgreen;
  font-weight: bolder;
  text-align:center;

}

