.wrapper {
    padding-top: 50px;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 12px;
    justify-content: space-around;
    align-content: flex-start;
    overflow: hidden;
    margin-left:10%;
    margin-right:10%;
    /* border:6px solid darkgreen; */
    /* flex-direction:column; */
  }