.loginLogo{
	border-radius: 50%;
	width: 50%;
	/* margin-left: 25%; */
	box-shadow: 2px 2px 5px;
}

.loginText{
	text-align: center;
}

.login-failed{
	color:red;
	font-weight:bold;
	font-size: 1.25em;
}

.form {
	border:none;
}