.wateringInterval {
    width: 25px;
    height: 25px;
    text-align: center; 
}

.nickname {
    height: 25px;
    text-align: center; 
}

.care {
    text-align: center;
}

.setin {
    display: inline;
}
.formButt {
    display: block;
}

.formControl {
    min-width: 120px;
    width: 200px;
}