.navBar {
    background-color: #41b3a3!important;
}

.navGrid{
    position: fixed;
    z-index: 1;
}

.registerBtn{
    /* position: absolute; */
    color: white;
    font-size: 14px;
    /* text-align: right!important; */
    /* margin-right: 100%!important; */
}

.modalOne{
    color: gray;
    /* z-index: 5000; */
    /* border: 2px solid black; */
    color: #85DCB0;
    color: #e27d60;
    color: #E8A87C;
    color: #c38D9E;
    color: #41B3A3;
}



.ReactModalPortal{
    /* opacity: 0.2; */
}


.ReactModal__Content{
    width: 350px;
    height: 500px;
    margin: 0 auto;
    border: 3px solid #41B3A3!important;
}

.ReactModal__Overlay{
    /* opacity: 0.2; */
    z-index: 100;
}

.modalClose{
    margin-left: 70%!important;
    margin-top: 7%!important;
}

.leftMenu{
    position: block;
    margin-right: 50%!important;
    /* color: black; */
    padding-bottom: 5px;
    padding-top: 5px;
}
