@import url("https://fonts.googleapis.com/css?family=Chivo|Jaldi:400,700|Mukta&display=swap");

/* 
font-family: 'Mukta', sans-serif;
font-family: 'Chivo', sans-serif;
font-family: 'Jaldi', sans-serif;
 */

.navBar {
	background-color: #f8f8f8 !important;
	color: #397547 !important;
	padding: 2px;
}

.navGrid {
	position: fixed;
	z-index: 1;
}

/* button {
	font-family: "Jaldi", sans-serif;
} */
.navFont {
	font-family: "Jaldi", sans-serif;
	font-size: 1.1rem;
	/* margin-left: 5px; */
}

.registerBtn {
	font-size: 14px;
}

.ReactModal__Content {
	height: 85%;
	width: 40%;
	margin: 0 auto;
	/* border: 3px solid !important; */
	box-shadow: 1px 1px 5px;
	text-align: center;
}

.ReactModal__Overlay {
	/* opacity: 0.2; */
	z-index: 100;
}

.leftMenu {
	position: block;
	margin-right: 50% !important;
	/* color: black; */
	padding-bottom: 5px;
	padding-top: 5px;
}

.navHid {
	visibility: hidden;
}

@media (min-width: 320px) and (max-width: 767px) {
	.navBar {
		display: none !important;
	}
}
